In [4]:
import pandas as pd
import urllib.request
import json

class currencyConverter:
    rates = {}
    def __init__(self, url):
        data = urllib.request.urlopen(url).read().decode('utf-8')
        f = json.loads(data)
        self.rates = f["rates"]
        
        
    def convert(self, amount, f, t):
        output = 0
        if f != 'USD':
            output = amount / self.rates[f] * self.rates[t]
            return output
        return amount
        
def convertCurrency(df):
    df = pd.read_csv(df)
    for i in range(len(df['Currency'])):
        f = df['Currency'][i]
        salary = df['Annual Salary'][i].replace(',', '')
        otherComp = df['Other Compensation'][i]
        if not pd.isna(df['Other Compensation'][i]):
            salary = float(salary) + float(otherComp)
        if f == 'Other':
            otherCur = df['Other'][i]
            if otherCur == 'Peso Argentino' or otherCur == 'Argentinian peso (ARS)' or otherCur == 'Argentine Peso':
                otherCur = 'ARS'
            if otherCur == 'Indian rupees' or otherCur == 'INR (Indian Rupee)':
                otherCur = 'INR'
            if otherCur == 'BRL (R$)' or otherCur == 'BR$':
                otherCur = 'BRL'
            if otherCur == 'Dkk' or otherCur == 'Danish Kroner' or otherCur == 'dkk':
                otherCur = 'DKK'
            if otherCur == 'Mexican pesos' or otherCur == 'Mexican Pesos':
                otherCur = 'MXN'
            if otherCur == 'Bdt':
                otherCur = 'BDT'
            if otherCur == 'American Dollars':
                otherCur = 'USD'
            if otherCur == 'Php' or otherCur == 'Philippine Peso' or otherCur == 'Philippine peso (PHP)' or otherCur == 'PhP (Philippine Peso)' or otherCur == 'Philippine Pesos':
                otherCur = 'PHP'
            if otherCur == 'PLN (Polish zloty)' or otherCur == 'Polish Złoty':
                otherCur = 'PLN'
            if otherCur == 'czech crowns' or otherCur == 'Czk':
                otherCur = 'CZK'
            if otherCur == 'Norwegian kroner (NOK)' or otherCur == 'Nok':
                otherCur = 'NOK'
            if otherCur == 'ILS/NIS' or otherCur == 'NIS (new Israeli shekel)' or otherCur == 'ILS (Shekel)' or otherCur == 'Israeli Shekels' or otherCur == 'Ils':
                otherCur = 'ILS'
            if otherCur == 'US Dollar':
                otherCur = 'USD'
            if otherCur == 'RMB (chinese yuan)' or otherCur == 'China RMB' or otherCur == 'RM':
                otherCur = 'CNY'
            if otherCur == 'Taiwanese dollars' or otherCur == 'NTD':
                otherCur = 'TWD'
            if otherCur == 'KRW (Korean Won)' or otherCur == 'Korean Won ':
                otherCur = 'KRW'
            if otherCur == 'Sgd':
                otherCur = 'SGD'
            if otherCur == 'AUD Australian' or otherCur == 'Australian Dollars ':
                otherCur = 'AUD'
            if otherCur == 'Euro':
                otherCur = 'EUR'
            if otherCur == 'THAI  BAHT':
                otherCur = 'THB'
            if otherCur == 'IDR ':
                otherCur = 'IDR'
            if otherCur in c.rates:
                df['Annual Salary'][i] = "{:.2f}".format(c.convert(float(salary), otherCur, 'USD'))
        else:
            if f == 'AUD/NZD':
                f = 'AUD'
            df['Annual Salary'][i] = "{:.2f}".format(c.convert(float(salary), f, 'USD'))
    return df

c = currencyConverter("http://data.fixer.io/api/latest?access_key=238f1925907e0f01a7fa1dc2b4042967")
# print(c.convert(5, 'EUR', 'USD'))
convertCurrency("../2021_Results.csv")
# print(c.rates)

<ipython-input-4-30d843ec2f59>:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Annual_Salary'][i] = "{:.2f}".format(c.convert(float(salary), f, 'USD'))
<ipython-input-4-30d843ec2f59>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Annual_Salary'][i] = "{:.2f}".format(c.convert(float(salary), otherCur, 'USD'))

,Unnamed: 0,Timestamp,Age,Industry,Job_Title,Annual_Salary,Currency,Work_Experience,Context_for_Job,Other,Other_Compensation,Context,Country,State,City,Highest_Level_of_Education,Gender,Race
0,0,4/27/2021 11:02,25-34,Education,Research and Instruction Librarian,55000.00,USD,5-7 years,NaN,NaN,0.000000,NaN,United States of America,Massachusetts,Boston,Master's degree,Woman,White
1,1,4/27/2021 11:02,25-34,Computing or Tech,Change & Internal Communications Manager,125735.33,GBP,8 - 10 years,NaN,NaN,5672.552649,NaN,United States of America,NaN,Cambridge,College degree,Non-binary,White
2,2,4/27/2021 11:02,25-34,"Accounting, Banking & Finance",Marketing Specialist,34000.00,USD,2 - 4 years,NaN,NaN,NaN,NaN,United States of America,Tennessee,Chattanooga,College degree,Woman,White
3,3,4/27/2021 11:02,25-34,Nonprofits,Program Manager,68000.00,USD,8 - 10 years,NaN,NaN,3000.000000,NaN,United States of America,Wisconsin,Milwaukee,College degree,Woman,White
4,4,4/27/2021 11:02,25-34,"Accounting, Banking & Finance",Accounting Manager,74000.00,USD,8 - 10 years,NaN,NaN,7000.000000,NaN,United States of America,South Carolina,Greenville,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26334,26334,5/25/2021 10:39,45-54,Computing or Tech,Information Technology Professional,76480.00,USD,31 - 40 years,NaN,NaN,NaN,NaN,United States of America,Minnesota,Minneapolis,College degree,Woman,White
26335,26335,5/25/2021 10:47,45-54,Health care,System Analyst,75000.00,USD,11 - 20 years,NaN,NaN,0.000000,NaN,United States of America,Texas,Austin,Master's degree,Woman,White
26336,26336,5/25/2021 10:50,25-34,Computing or Tech,Database Software Engineer,93000.00,USD,11 - 20 years,NaN,NaN,NaN,NaN,United States of America,Oregon,Portland,Master's degree,Woman,White
26337,26337,5/25/2021 10:55,25-34,Business or Consulting,Senior Associate,171000.00,USD,8 - 10 years,NaN,NaN,10000.000000,NaN,United States of America,New York,New York,Master's degree,Man,Asian or Asian American
26338,26338,5/25/2021 12:04,25-34,Health care,"Director, Analytics",185000.00,USD,11 - 20 years,NaN,NaN,25000.000000,NaN,United States of America,New York,NYC,College degree,Non-binary,White