In [55]:
from ipynb.fs.full.LocationCleaningScript import clean_location
from ipynb.fs.full.cleanIndustries import cleanIndustries
#from ipynb.fs.full.CurrencyConverter import *
#from ipynb.fs.full.NormalizeWorkExperience import NormalizeExperience
import pandas as pd
import urllib.request
import json
from datascience import *
def RemoveSpacesFromTitles(df):
    
    df.columns = [c.replace(' ', '_') for c in df.columns]
    return df
def NormalizeExperience(filename):
    df = pandas.read_csv(filename)
    df.replace(to_replace = ['5-7 years'], value = '5 - 7 years')
    df.replace(to_replace = ['1 year or less'], value = '0 - 1 years')
    return df
  

#x = x.to_df()

In [56]:
class currencyConverter:
    rates = {}
    def __init__(self, url):
        data = urllib.request.urlopen(url).read().decode('utf-8')
        f = json.loads(data)
#         print(f)
        self.rates = f["rates"]
        
        
    def convert(self, amount, f, t):
        output = 0
        if f != 'USD':
            output = amount / self.rates[f] * self.rates['USD']
            return output
        return amount
        
def convertCurrency(df):
    
    for i in range(len(df['Currency'])):
        f = df['Currency'][i]
        df['Annual_Salary'][i] = df['Annual_Salary'][i].replace(',', '')
        salary = df['Annual_Salary'][i]
        otherComp = df['Other_Compensation'][i]
        if f == 'Other':
            otherCur = df['Other'][i]
            if otherCur in c.rates:
                df['Annual_Salary'][i] = c.convert(float(salary), otherCur, 'USD')
                if otherComp != "" and otherComp != "0":
                    df['Other_Compensation'][i] = c.convert(float(otherComp), otherCur, 'USD')
        elif f != 'USD':
            if f == 'AUD/NZD':
                f = 'AUD'
            df['Annual_Salary'][i] = c.convert(float(salary), f, 'USD')
            df['Other_Compensation'][i] = c.convert(float(otherComp), f, 'USD')
        if not pd.isna(df['Other_Compensation'][i]):
            df['Annual_Salary'][i] = "{:.2f}".format(float(df['Other_Compensation'][i]) + float(df['Annual_Salary'][i]))
    return df

c = currencyConverter("http://data.fixer.io/api/latest?access_key=238f1925907e0f01a7fa1dc2b4042967")

In [59]:
table = NormalizeExperience('../2021_Results.csv')
table = RemoveSpacesFromTitles(table)
final_table = clean_location(Table.from_df(table))
final_table = final_table.to_df()
final_table = convertCurrency(final_table)

<ipython-input-56-ebb7c733c0ba>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Annual_Salary'][i] = df['Annual_Salary'][i].replace(',', '')
<ipython-input-56-ebb7c733c0ba>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Annual_Salary'][i] = "{:.2f}".format(float(df['Other_Compensation'][i]) + float(df['Annual_Salary'][i]))
<ipython-input-56-ebb7c733c0ba>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Annual_Salary'][i] = c.convert(float(salary), f, 'USD')
<ipython-input-56-ebb7c733c0ba>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Other_Compensation'][i] = c.convert(float(otherComp), f, 'USD')
<ipython-input-56-ebb7c733c0ba>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Annual_Salary'][i] = c.convert(float(salary), otherCur, 'USD')
<ipython-input-56-ebb7c733c0ba>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Other_Compensation'][i] = c.convert(float(otherComp), otherCur, 'USD')

                Timestamp    Age                       Industry  \
0      4/27/2021 11:02:10  25-34   Education (Higher Education)
1      4/27/2021 11:02:22  25-34              Computing or Tech
2      4/27/2021 11:02:38  25-34  Accounting, Banking & Finance
3      4/27/2021 11:02:41  25-34                     Nonprofits
4      4/27/2021 11:02:42  25-34  Accounting, Banking & Finance
...                   ...    ...                            ...
26334  5/25/2021 10:39:03  45-54              Computing or Tech
26335  5/25/2021 10:47:06  45-54                    Health care
26336  5/25/2021 10:50:28  25-34              Computing or Tech
26337  5/25/2021 10:55:57  25-34         Business or Consulting
26338  5/25/2021 12:04:23  25-34                    Health care

                                      Job_Title Annual_Salary Currency  \
0            Research and Instruction Librarian      55000.00      USD
1      Change & Internal Communications Manager      83102.90      GBP
2                          Marketing Specialist         34000      USD
3                               Program Manager      65000.00      USD
4                            Accounting Manager      67000.00      USD
...                                         ...           ...      ...
26334       Information Technology Professional         76480      USD
26335                            System Analyst      75000.00      USD
26336                Database Software Engineer         93000      USD
26337                          Senior Associate     161000.00      USD
26338                       Director, Analytics     160000.00      USD

      Work_Experience Context_for_Job Other  Other_Compensation Context  \
0           5-7 years             nan   nan            0.000000     nan
1        8 - 10 years             nan   nan         5672.552649     nan
2         2 - 4 years             nan   nan                 NaN     nan
3        8 - 10 years             nan   nan         3000.000000     nan
4        8 - 10 years             nan   nan         7000.000000     nan
...               ...             ...   ...                 ...     ...
26334   31 - 40 years             nan   nan                 NaN     nan
26335   11 - 20 years             nan   nan            0.000000     nan
26336   11 - 20 years             nan   nan                 NaN     nan
26337    8 - 10 years             nan   nan        10000.000000     nan
26338   11 - 20 years             nan   nan        25000.000000     nan

                        Country           State         City  \
0      United States of America   Massachusetts       Boston
1      United States of America                    Cambridge
2      United States of America       Tennessee  Chattanooga
3      United States of America       Wisconsin    Milwaukee
4      United States of America  South Carolina   Greenville
...                         ...             ...          ...
26334  United States of America       Minnesota  Minneapolis
26335  United States of America           Texas       Austin
26336  United States of America          Oregon     Portland
26337  United States of America        New York     New York
26338  United States of America        New York          NYC

      Highest_Level_of_Education      Gender                     Race
0                Master's degree       Woman                    White
1                 College degree  Non-binary                    White
2                 College degree       Woman                    White
3                 College degree       Woman                    White
4                 College degree       Woman                    White
...                          ...         ...                      ...
26334             College degree       Woman                    White
26335            Master's degree       Woman                    White
26336            Master's degree       Woman                    White
26337            Master's degree         Man  Asian or Asian American
26338             College degree  Non-binary                    White

[26339 rows x 17 columns]